.sideBar {
  grid-area: s;
  background-color: #ADC5D9;
  z-index: 100;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  padding: 10px 2px;
}
.sideBar {

}

.avatar {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.contactsTitle {
  font-size: 40px;
  color: #3B4259;
}

.contactName {
  display: inline-block;
}

.contacts {
  color: #3B4259;
}