.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogItems {
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}

.dialogItems a {
  text-decoration: none;
  color: #3B4259;
}
