.nav {
  grid-area: n;
  background-color: #BDA9E9;
}

.container :hover.nawbarItem {
  background-color: gray;
  border-radius: 15px;
  width: 135px;
  height: 30px;
}

.item {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nawbarItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.nawbarItem > h4 {
  margin-left: 10px;
}

.icons {
  color: white;
}