.nav {
    grid-area: n;
    background-color: #BDA9E9;
}

.item {
    color: #FFF4DE;
    font-size: 20px;
    padding: 10px;
}
.item a {
    text-decoration: none;
    padding: 30px;
    color: white;
}
.item a.activeLink {
    color: black;
}