.nav {
  grid-area: n;
  background-color: #ADC5D9;
  z-index: 100;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  padding: 10px 2px;
}

.navbarTitle {
  color: #3B4259;
  font-weight: 300;
}

.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  height: 40px;
}

.navbarItem {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.active .navbarTitle {
  color: #3B4259;
  font-weight: 700;
}

.icons {
  margin-left: 7px;
  color: #3B4259;
}

.container:hover .icons {
  color: #3B4259;
  margin-left: 20px;
}

.container:hover .navbarTitle {
  color: #3B4259;
}

.container:hover .navbarItem {
  background-color: #6D86A6;
  border-radius: 10px;
  height: 40px;
}

.settings {
  margin-top: 650px;
}