.container {
  grid-area: c;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wallpaper img {
  display: block;
  margin: 0 auto;
  margin-top: -25px;
  width: 990px;
  height: 245px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 100% 50%;
}

.avatar img {
  margin-left: 830px;
  position: relative;
  display: block;
  height: 170px;
  border-radius: 25px;
  border: 5px solid #ADC5D9;
  margin-top: -200px;
}
