.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wallpaper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 50%;
}

.avatar img {
  margin: 0 auto;
  position: relative;
  display: block;
  height: 168px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -150px;

}

/*.profileName {*/
/*  font-size: 32px;*/
/*  position: relative;*/
/*  text-align: center;*/
/*  top: -170px;*/
/*}*/