.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
      'h h h'
      'n c s'
      'n p s';

  /*grid-template-rows: 60px 1fr;*/
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 10px;
}

