.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogItems {
  padding: 10px;
  color: white;
}

.dialogItems a {
  text-decoration: none;
  color: white;
}

.dialogItems .active {
  font-weight: bold;
  color: black;
}
.messageItem {
  padding: 10px;
  color: white;
}