.messages {
  margin: 10px;
}

.messagesWrapper {
  display: flex;
  margin: 10px;
  align-items: flex-end;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.dialogWindow {
  min-height: 50px;
  max-width: 470px;
  background-color: #07B0A5;
  position: relative;
  border-radius: 20px 20px 20px 0;
  margin-left: 10px;
}

.dialogWindow::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 35px;
  border-bottom-right-radius: 20px;
  box-shadow: 20px 0 0 0 #07B0A5;
  margin-left: -35px;
  background-color: transparent;
  border-top: 12px solid transparent;
}

.name {
  font-size: 18px;
  margin: 15px 0 0 25px;
  display: block;
  font-weight: bold;
  color: #3B4259;
}

.message {
  margin: 5px 5px 3px 25px;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  color: snow;
  max-width: 350px;
  flex-basis: 50%;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 10px;
}

.time {
  display: inline-block;
  flex-basis: 50%;
  font-style: italic;
  color: #04635D;
  font-weight: 300;
  padding-right: 20px;
}
